

body {
    background-image: url(../img/pinkbackground.jpg); //pic by Madison Inouye, Pexels
    background-position: center;
    background-size: cover;
    width: 100%;
    font-family: 'Noto Sans', sans-serif;
}

h1 {
    font-size: 40px;
    font-weight: bold;
    padding: 30px;
    text-align: center;
}

#mypic {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    width: 300px;
}

main {
    background-color:lightcyan;
    border-color: pink;
    border-style: groove;
    border-width: 10%;
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 50px;
    padding: 20px;
    text-align: center;
}

footer {
    background-color: white;
    bottom: 0;
    color: black;
    margin:0px;
    position: absolute;
    text-align: center;
    width: 100%;
}