

body {
    background-image: url(/img/pinkbackground.jpg);
    font-family: 'Noto Sans', sans-serif;
}

h1 {
    font-size: 40px;
    font-weight: bold;
    padding: 30px;
    text-align: center;
}

#mypic {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    width: 300px;
}

main {
    padding: 50px;
    text-align: center;
}

footer {
    background-color: white;
    bottom: 0;
    color: black;
    margin:0px;
    position: absolute;
    text-align: center;
    width: 100%;
}